@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    .Left {
        color: #141414;
        text-align: right;
        padding-top: 22px;
    }

    .Right {
        width: 700px;
        padding-top: 22px;
        padding-left: 10px;
    }

    .Hinh {
        border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border: 3px solid #c7b89e;
    }

    .textCtrl, .sdt {
        width: 500px;
    }

    .getLine {
        border-top: 1px solid #D7EDFC;
        margin: auto;
        margin-top: 10px;
        width: 600px;
    }
    .number_ne {
        border-left: 1px solid #C0C0C0;
        border-right: 1px solid #E9E9E9;
        border-top: 1px solid #C0C0C0;
        border-bottom: 1px solid #E9E9E9;
        font-family: Calibri,'Trebuchet MS',Verdana,Geneva,Arial,Helvetica,sans-serif;
        color: #000;
        background-color: #FFF;
        padding: 3px;
        margin-bottom: 2px;
        border-radius: 4px;
        outline: 0px none;
        font-size: 13px;
        width: 500px;
    }

    .number_ne:focus, .number_ne.Focus {
        border-bottom-color: #E6E6E6;
        background: url('../Content/Images/bg_Texbox.png') repeat-x scroll 0% 0% #FFFFF0;
        border-top-color: #969696;
        box-shadow: 0px 0px 4px #5C9CDF;
    }
    table.center {
        width: 780px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
@using (Html.BeginForm("CreateAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <h2 style="text-align: center; ">THÊM NHÂN VIÊN</h2>
    <br />
    <table style="width: 984px; border: 1px solid #d0d0d0; border-collapse: collapse;" class="center">
        <tr>
            <td class="Left">Tên Đăng nhập:</td>
            <td class="Right">
                <input type="text" id="txt_Username" name="txt_Username" class="textCtrl" required="required" maxlength="50" />
            </td>
        </tr>
        <tr>
            <td class="Left">Mật khẩu:</td>
            <td class="Right">
                <input type="password" id="txt_Password" name="txt_Password" class="textCtrl" required="required" />
            </td>
        </tr>
        <tr>
            <td class="Left">Nhập lại mật khẩu:</td>
            <td class="Right">
                <input type="password" id="txt_NhapLaiPass" name="txt_NhapLaiPass" class="textCtrl" required="required" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="getLine"></div>
            </td>
        </tr>
        <tr>
            <td class="Left">Hình đại diện:</td>
            <td class="Right">
                <img id="img_HinhDD" class="Hinh" style="vertical-align: middle; width: 160px; height: 160px" src="~/images/Upload/avatars.jpg" />
                <input type="file" id="FileUpload" name="FileUpload" />
            </td>
        </tr>
        <tr>
            <td class="Left">Email:</td>
            <td class="Right">
                <input type="email" id="txt_Email" name="txt_Email" class="textCtrl" placeholder="ex: admin@gmail.com" required="required" />
            </td>
        </tr>
        <tr>
            <td class="Left">Họ tên:</td>
            <td class="Right">
                <input type="text" id="txt_HoTen" name="txt_HoTen" class="textCtrl" required="required" maxlength="50" title="Họ tên chỉ được nhập chữ !" />
            </td>
        </tr>
        <tr>
            <td class="Left">Điện thoại:</td>
            <td class="Right">
                <input type="text" id="txt_DienThoai" name="txt_DienThoai" class="number_ne" maxlength="10" required="required" title="Vui lòng nhập số điện thoại đúng định dạng 10 số !" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="getLine"></div>
            </td>
        </tr>
        <tr>
            <td class="auto-Left" style="padding: 5%">Phân quyền quản trị:</td>
            <td class="auto-Right">
                <table style="width: 550px">
                    <tr style="text-align: left">
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen1" checked="checked" />Quản lý Admin
                            </label>
                        </th>
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen2" checked="checked" /> Quản lý nhà cung cấp
                            </label>
                        </th>
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen3" checked="checked" /> Quản lý sản phẩm
                            </label>
                        </th>
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen4" checked="checked" />Quản lý thương hiệu
                            </label>
                        </th>
                    </tr>
                    <tr style="text-align: left;height:40px">
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen5" checked="checked" />Quản lý loại giày
                            </label>
                        </th>
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen6" checked="checked" />Quản lý đơn hàng
                            </label>
                        </th>
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen7" checked="checked" />Quản lý khách hàng
                            </label>
                        </th>
                        <th style="font-weight: normal">
                            <label>
                                <input type="checkbox" value="DaChon" name="ckb_PhanQuyen8" checked="checked" />Quản lý ý kiến khách hàng
                            </label>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div style="text-align: center">
        <br />
        <input class="btn btn-success" id="NhapLai" type="reset" value="Nhập lại">
        <input class="btn btn-success" type="submit" id="btn_Sumit" name="btn_Sumit" value="Xác nhận">
    </div>
}